{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs"
{#                                href="{{ path('booking_view', { 'id':booking.id }) }}">Read more &raquo;</a>#}
                        </div>
                    </footer>
                </article>
            </div>
    </div>
</div>


{% endblock %}
