{% extends 'base.html.twig' %}



{% block main %}
<div class = "room">
<p class = "room-size">
<p class = "style1">
<a href="/picture/room/1-1.jpg">
<img src="/picture/room/1.jpg" height="300" width="300"  class="rounded float-left" alt="...">
</a>
</p>
</p>

<p class = "style2">
<a href="/picture/room/2-2.jpg">
<img src="/picture/room/2.jpg" height="300" width="300" class="rounded float-right" alt="...">
</a>
</p>

<p class = "style3">
<a href="/picture/room/3-3.jpg">
<img src="/picture/room/3.jpg" height="300" width="300" class="rounded float-left" alt="...">
</a>
</p>

<p class = "style4">
<a href="/picture/room/4-4.jpg">
<img src="/picture/room/4.jpg" height="300" width="300" class="rounded float-right" alt="...">
</a>
</p>

<p class = "style5">
<a href="/picture/room/5-5.jpg">
<img src="/picture/room/5.jpg" height="300" width="300" class="rounded float-left" alt="...">
</a>
</p>

<p class = "style6">
<a href="/picture/room/6-6.jpg">
<img src="/picture/room/6.jpg" height="300" width="300" class="rounded float-right" alt="...">
</a>
</p>

<p class = "style7">
<a href="/picture/room/7-7.jpg">
<img src="/picture/room/7.jpg" height="300" width="300" class="rounded float-left" alt="...">
</a>
</p>

<p class = "style8">
<a href="/picture/room/8-8.jpg">
<img src="/picture/room/8.jpg" height="300" width="300" class="rounded float-right" alt="...">
</a>
</p>
</p>
</div>
{% endblock %}